<h2>My Heroes</h2>
<ul class="heroes">
  <!-- 
      *ngFor 是一个 Angular 的复写器（repeater）指令。 它会为列表中的每项数据复写它的宿主元素。
      在这个例子中
        <li> 就是 *ngFor 的宿主元素
        heroes 就是来自 HeroesComponent 类的列表。
        当依次遍历这个列表时，hero 会为每个迭代保存当前的英雄对象。

        不要忘了 ngFor 前面的星号（*），它是该语法中的关键部分。
       -->

  <!-- 
         Angular 的 CSS 类绑定机制让根据条件添加或移除一个 CSS 类变得很容易。 
         只要把 [class.some-css-class]="some-condition" (class.状态名 ="条件")添加到你要施加样式的元素上就可以了。
         [class.selected]="hero === selectedHero" 
         如果当前行的英雄和 selectedHero 相同，Angular 就会添加 CSS 类 selected，否则就会移除它。
        -->

  <!-- 
         添加点击事件
       这是 Angular 事件绑定 语法的例子。
        click 外面的圆括号会让 Angular 监听这个 <li> 元素的 click 事件。 
          当用户点击 <li> 时，Angular 就会执行表达式 onSelect(hero)。
        onSelect() 是 HeroesComponent 上的一个方法（待添加）。
         Angular 会把所点击的 <li> 上的 hero 对象传给它，
        这个 hero 也就是前面在 *ngFor 表达式中定义的那个。 
      -->
  <li
    *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
  </li>
</ul>

<!-- 
[hero]="selectedHero" 是 Angular 的属性绑定语法。
这是一种单向数据绑定。
从 HeroesComponent 的 selectedHero 属性绑定到目标元素的 hero 属性，
并映射到了 HeroDetailComponent 的 hero 属性。
现在，当用户在列表中点击某个英雄时，selectedHero 就改变了。 
当 selectedHero 改变时，属性绑定会修改 HeroDetailComponent 的 hero 属性，HeroDetailComponent 就会显示这个新的英雄。 
-->

<!-- 
你通过缩减 HeroesComponent 的职责简化了该组件。
你可以把 HeroDetailComponent 改进成一个功能丰富的英雄编辑器，而不用改动父组件 HeroesComponent。
你可以改进 HeroesComponent，而不用改动英雄详情视图。
将来你可以在其它组件的模板中重复使用 HeroDetailComponent。 
-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>


<!-- [(ngModel)] 是 Angular 的双向数据绑定语法。
这里把 hero.name 属性绑定到了 HTML 的 textbox 元素上，
以便数据流可以双向流动：从 hero.name 属性流动到 textbox，
并且从 textbox 流回到 hero.name 。 -->

<!-- 
ngModel属于一个可选模块 FormsModule
Angular 需要知道如何把应用程序的各个部分组合到一起，以及该应用需要哪些其它文件和库。这些信息被称为元数据（metadata）。
有些元数据位于 @Component 装饰器中，你会把它加到组件类上。 
另一些关键性的元数据位于 @NgModule 装饰器中。
最重要的 @NgModule 装饰器位于顶级类 AppModule 上。
Angular CLI 在创建项目的时候就在 src/app/app.module.ts 中生成了一个 AppModule 类。 
这里也就是你要添加 FormsModule 的地方。 
-->

<!-- 相当于判断selectedHero是否定义（类似java判null） -->
<!-- 
当 selectedHero 为 undefined 时，ngIf 从 DOM 中移除了英雄详情。因此也就不用担心 selectedHero 的绑定了。
当用户选择一个英雄时，selectedHero 也就有了值，并且 ngIf 把英雄的详情放回到 DOM 中。 
-->
<!-- <div *ngIf="selectedHero"> -->
  <!-- 当应用启动时，selectedHero 是 undefined，设计如此。 -->
  <!-- <div>
    <label
      >name:
      <input [(ngModel)]="selectedHero.name" placeholder="name" />
    </label>
  </div> -->

  <!-- 绑定表达式中的 uppercase 位于管道操作符（ | ）的右边，用来调用内置管道 UppercasePipe。
管道 是格式化字符串、金额、日期和其它显示数据的好办法。 Angular 发布了一些内置管道，而且你还可以创建自己的管道。 -->
  <!-- <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedHero.id }}</div>
  <div><span>name: </span>{{ selectedHero.name }}</div> -->
<!-- </div> -->
